<mat-card>
  <mat-card-header>
    <mat-card-title>{{ playlist.model.title }}</mat-card-title>
    <img mat-card-avatar src="{{ playlist.model.bestThumbnail?.url }}" />
  </mat-card-header>
  <mat-card-actions>
    <app-toggle-button
      [initialValue]="playlist.model.shuffle"
      [icon]="'shuffle'"
      (value)="playlist.setShuffle($event)"
    ></app-toggle-button>
    <app-toggle-button
      [initialValue]="playlist.model.loop"
      [icon]="'loop'"
      (value)="playlist.setLoop($event)"
    ></app-toggle-button>
    <app-toggle-button
      [initialValue]="playlist.model.replaceAll"
      [icon]="'replace'"
      (value)="playlist.setReplaceAll($event)"
    ></app-toggle-button>
  </mat-card-actions>
</mat-card>
