<div>
  <div>
    <label>
      <input (click)="onShuffle($event)" type="checkbox" />
      Shuffle
    </label>
  </div>
  <div>
    <div>
      <label>
        <input
          (click)="onLoop($event)"
          type="radio"
          id="loop-single"
          name="loop"
          value="loopSingle"
        />
        Loop sound
      </label>
    </div>
    <div>
      <label>
        <input
          (click)="onLoop($event)"
          type="radio"
          id="loop-all"
          name="loop"
          value="loopAll"
        />
        Loop playlist
      </label>
    </div>
    <div>
      <label>
        <input
          (click)="onLoop($event)"
          type="radio"
          id="loop-none"
          name="loop"
          value="loopNone"
        />
        Don't loop
      </label>
    </div>
  </div>
</div>
