<mat-card>
  <app-filter-list
    [ngStyle]="{ 'background-color': colour }"
    [filters]="song.filters"
  ></app-filter-list>
  <mat-card-header>
    <mat-card-title>{{ song.name }}</mat-card-title>
    <img *ngIf="song.thumbnail" mat-card-avatar src="{{ song.thumbnail }}" />
  </mat-card-header>
  <mat-card-actions>
    <app-loop-button-toggle
      [initialValue]="state.loop"
      (value)="state.loop = $event"
    ></app-loop-button-toggle>
    <app-replace-all-button-toggle
      [initialValue]="state.replaceAll"
      (value)="state.replaceAll = $event"
    >
    </app-replace-all-button-toggle>
  </mat-card-actions>
</mat-card>

<app-audio-source-container
  *ngIf="active"
  [id]="song.id"
  [loop]="state.loop"
></app-audio-source-container>
