<mat-card>
  <app-filter-list
    [ngStyle]="{ 'background-color': colour }"
    [filters]="song.filters"
  ></app-filter-list>
  <mat-card-header>
    <mat-card-title>{{ song.name }}</mat-card-title>
    <img *ngIf="song.thumbnail" mat-card-avatar src="{{ song.thumbnail }}" />
  </mat-card-header>
  <mat-card-actions>
    <div class="flex-left">
      <app-loop-button-toggle
        [initialValue]="state.loop"
        (value)="state.loop = $event"
      ></app-loop-button-toggle>
      <app-replace-all-button-toggle
        *ngIf="!active"
        [initialValue]="state.replaceAll"
        (value)="state.replaceAll = $event"
      >
      </app-replace-all-button-toggle>
      <app-eject-button
        *ngIf="active"
        (eject)="onEject()"
        [disabled]="ejecting"
        [tooltip]="ejectTooltip"
      ></app-eject-button>
    </div>
    <div>
      <app-volume-slider
        *ngIf="active"
        [volume]="audioElement.volume"
        (volumeChange)="audioElement.volume = $event"
        (mouseenter)="disableDragDrop()"
        (mouseleave)="enableDragDrop()"
      ></app-volume-slider>
      <app-edit-button-icon *ngIf="!active" (edit)="openEditDialog()">
      </app-edit-button-icon>
      <app-delete-button-icon *ngIf="!active" (delete)="openDeleteDialog()">
      </app-delete-button-icon>
    </div>
  </mat-card-actions>
</mat-card>

<app-audio-source-container
  *ngIf="active"
  [songId]="song.songId"
  [loop]="state.loop"
></app-audio-source-container>
