<audio #playlistAudio autoplay>
  <source src="" type="audio/mp3" />
</audio>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ playlist.title }}</mat-card-title>
    <img mat-card-avatar src="{{ playlist.thumbnail }}" />
    <mat-card-subtitle
      >Currently playing: {{ playlist.currentItem.title }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions>
    <app-previous
      [playlist]="playlist"
      (prev)="updateSrc($event)"
    ></app-previous>
    <app-next [playlist]="playlist" (next)="updateSrc($event)"></app-next>
    <app-shuffle [playlist]="playlist"></app-shuffle>
    <app-loop [playlist]="playlist"></app-loop>
    <app-eject
      *ngIf="audioElementInit"
      [playlistId]="playlist.id"
      [audioElement]="audioElement"
    ></app-eject>
    <app-volume
      *ngIf="audioElementInit"
      [audioElement]="audioElement"
      (volumeEnterHover)="volumeEnterHover.emit($event)"
      (volumeLeaveHover)="volumeLeaveHover.emit($event)"
    ></app-volume>
  </mat-card-actions>
  <mat-card-content>
    <app-sound-item-list
      [playlist]="playlist"
      (update)="updateSrc($event)"
    ></app-sound-item-list>
  </mat-card-content>
</mat-card>
