<div class="droplist-actions">
  <app-edit-button-icon
    *ngIf="!editing"
    (edit)="onEdit()"
  ></app-edit-button-icon>
  <app-done-button-icon
    *ngIf="editing"
    (done)="onSubmit()"
  ></app-done-button-icon>
  <app-delete-button-icon
    [disabled]="editing"
    (delete)="onDelete()"
  ></app-delete-button-icon>
</div>
<h3 class="droplist-title">
  <form *ngIf="editing" (ngSubmit)="onSubmit()" autofocus>
    <input
      class="title-input"
      name="name"
      type="text"
      [formControl]="name"
      matInput
    />
  </form>
  <span *ngIf="!editing">{{ name.value }}</span>
</h3>
