<mat-card>
  <mat-card-header>
    <mat-card-title>{{ playlist.name }}</mat-card-title>
    <img mat-card-avatar src="{{ playlist.thumbnail }}" />
  </mat-card-header>
  <!-- <mat-card-actions>
    <app-shuffle [playlist]="playlist"></app-shuffle>
    <app-loop [playlist]="playlist"></app-loop>
    <app-replace-all [playlist]="playlist"></app-replace-all>
  </mat-card-actions>
  <mat-card-content>
    <app-sound-item-list [playlist]="playlist"></app-sound-item-list>
  </mat-card-content> -->
</mat-card>
