<mat-card>
  <app-filter-list [filters]="playlist.filters"></app-filter-list>
  <mat-card-header>
    <mat-card-title>{{ playlist.name }}</mat-card-title>
    <img
      *ngIf="playlist.thumbnail"
      mat-card-avatar
      src="{{ playlist.thumbnail }}"
    />
  </mat-card-header>
  <mat-card-actions>
    <!-- <app-shuffle [playlist]="playlist"></app-shuffle>
    <app-loop [playlist]="playlist"></app-loop>
    <app-replace-all [playlist]="playlist"></app-replace-all> -->
  </mat-card-actions>
  <mat-card-content>
    <app-song-list
      [songs]="playlist.songs"
      [currentIndex]="state.index"
      [active]="active"
    ></app-song-list>
  </mat-card-content>
</mat-card>
